mandatory/*/*.o
mandatory/*.o
mandatory/main.o
mandatory/*/*.swp
mandatory/*.swp
mandatory/*/*.swo
mandatory/*.swo
minilibx/obj/*.o
minilibx/test/*
minilibx/libmlx.a
minilibx/libmlx_Linux.a
*.swp
*.swo
cub3D
libft/libft.a
libft/objs
.nfs*
